@using Shared.DTOs

<div class="container my-4">
    <div class="row">
        @if (Productos != null && Productos.Any())
        {
            @foreach (var producto in Productos)
            {
                <div class="col-md-4 col-sm-6 mb-4">
                    <ProductosCard Productos="producto" />
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <p class="text-center text-muted">No hay productos disponibles</p>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<ProductoDTO> Productos { get; set; } = new List<ProductoDTO>();
}